<section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{t k='resetpassword' g='account'}</h2>
                </div>
            </div> 
            <div class="row">
                
            	<div class="col-lg-6 col-lg-offset-3 text-center">
		{if $code==''}
			<p class="text-muted">{t k='resetinstructions' g='account'}</p>
			<form role="form" method="GET" id="sendresetemailrorm" action="{link do="Sendpasswordreset" controller="Login"}">
			 	
			
			<div class="row">
				<div class="col-md-6 col-md-offset-2">
					<div class="form-group">
						<input type="email" name="email" class="form-control" 
							placeholder="{t k='registeredemail' g='account'}" >
					</div>
				</div>
			</div>
         		<div class="row" >
				<div class="col-md-6 col-md-offset-2"><input type="submit" value="{t k='sendresetemail' g='account' }" class="btn btn-primary btn-block btn-lg" ></div>
			</div>
			</form>
			<h3 class="section-subheading">{t k='resetinstructions2' g='account'}</h3>
		{else}
			<h3 class="section-subheading">{t k='resetpasswordforemail' g='account' p1=$email}<br>{t k='enternewpassword' g='account'}</h3>
			
			<form role="form" method="POST" id="resetpasswordform" action="{link do="resetpassword" controller="Login"}" accept-charset="UTF-8">
			 	<input type="hidden" name="code" value="{$code}">
			 	<input type="hidden" name="email" value="{$email}">
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control" 
						placeholder="{t k='newpassword' g='account'} *" tabindex="5" 
						required >
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control" 
						placeholder="{t k='regpasswordconfirm' g='account'} *" tabindex="6" required>
					</div>
				</div>
			</div>
         		<div class="row" >
				<div class="col-md-6 col-md-offset-2"><input type="submit" value="{t k='setnewpassword' g='account' }" class="btn btn-primary btn-block btn-lg" ></div>
			</div>
			</form>
		
		{/if}
		</div>
            </div> 
	</div>
</section>
