<div class="row">

<section>
<h1>Веб-сервіс повідомлень про події в мережі "Сила довіри"</h1>
<p>"Сила Довіри" є децентралізованою платформою прийняття спільних рішень.</p>
<p>Саме через "децентралізованість" у платформи немає можливості розсилати повідомлення (емейл чи іншими каналами)
про зміни в системі. Тому, було створено окремий сервіс, який працює як звичайний "централізований" веб-сайт для розсилки таких повідомлень.
</p>
<p>
Цей веб-сайт отримує дані від одного із вузлів (нодів) платформи. 
Всі вузли є рівнозначними, тому немає значення із якого вузла зчитуються дані
</p>
<p>
Використайте цей сервіс щоб отримувати повідомлення про нові задачі, обговорення, коментарі. Щоб знати що відбувається в платформі без заходу в неї.

</p>
</section>

</div>