##  Can be commented out if causes errors, see notes above.
order allow,deny
allow from all

Options +FollowSymLinks

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule .* index.php?url=$0&%{QUERY_STRING} [QSA,L]